.btn {
	display: flex;
	align-items: center;
	border-radius: 10px;

	&-white {
		border-color: #fff;
		background-color: #fff;
		color: #000;
	}
	&-outline {
		border-width: 1px;
		border-style: solid;
		background-color: transparent;

		&.btn-white {
			color: #fff;
		}
	}
}
