/*
	======== San Francisco UI Text ========
*/

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text LightItalic'), local('SFUIText-LightItalic'),
		url('/font/SFUIText-LightItalic.woff2') format('woff2'),
		url('/font/SFUIText-LightItalic.woff') format('woff'),
		url('/font/SFUIText-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Regular Italic'), local('SFUIText-RegularItalic'),
		url('/font/SFUIText-RegularItalic.woff2') format('woff2'),
		url('/font/SFUIText-RegularItalic.woff') format('woff'),
		url('/font/SFUIText-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text SemiboldItalic'), local('SFUIText-SemiboldItalic'),
		url('/font/SFUIText-SemiboldItalic.woff2') format('woff2'),
		url('/font/SFUIText-SemiboldItalic.woff') format('woff'),
		url('/font/SFUIText-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
		url('/font/SFUIText-Heavy.woff2') format('woff2'),
		url('/font/SFUIText-Heavy.woff') format('woff'),
		url('/font/SFUIText-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
		url('/font/SFUIText-Semibold.woff2') format('woff2'),
		url('/font/SFUIText-Semibold.woff') format('woff'),
		url('/font/SFUIText-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Medium'), local('SFUIText-Medium'),
		url('/font/SFUIText-Medium.woff2') format('woff2'),
		url('/font/SFUIText-Medium.woff') format('woff'),
		url('/font/SFUIText-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Light'), local('SFUIText-Light'),
		url('/font/SFUIText-Light.woff2') format('woff2'),
		url('/font/SFUIText-Light.woff') format('woff'),
		url('/font/SFUIText-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Regular'), local('SFUIText-Regular'),
		url('/font/SFUIText-Regular.woff2') format('woff2'),
		url('/font/SFUIText-Regular.woff') format('woff'),
		url('/font/SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text BoldItalic'), local('SFUIText-BoldItalic'),
		url('/font/SFUIText-BoldItalic.woff2') format('woff2'),
		url('/font/SFUIText-BoldItalic.woff') format('woff'),
		url('/font/SFUIText-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Bold'), local('SFUIText-Bold'),
		url('/font/SFUIText-Bold.woff2') format('woff2'),
		url('/font/SFUIText-Bold.woff') format('woff'),
		url('/font/SFUIText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text HeavyItalic'), local('SFUIText-HeavyItalic'),
		url('/font/SFUIText-HeavyItalic.woff2') format('woff2'),
		url('/font/SFUIText-HeavyItalic.woff') format('woff'),
		url('/font/SFUIText-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text MediumItalic'), local('SFUIText-MediumItalic'),
		url('/font/SFUIText-MediumItalic.woff2') format('woff2'),
		url('/font/SFUIText-MediumItalic.woff') format('woff'),
		url('/font/SFUIText-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: block;
}



/*
	======== San Francisco UI Display ========
*/

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
		url('/font/SFUIDisplay-Ultralight.woff2') format('woff2'),
		url('/font/SFUIDisplay-Ultralight.woff') format('woff'),
		url('/font/SFUIDisplay-Ultralight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
		url('/font/SFUIDisplay-Thin.woff2') format('woff2'),
		url('/font/SFUIDisplay-Thin.woff') format('woff'),
		url('/font/SFUIDisplay-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
		url('/font/SFUIDisplay-Light.woff2') format('woff2'),
		url('/font/SFUIDisplay-Light.woff') format('woff'),
		url('/font/SFUIDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
		url('/font/SFUIDisplay-Regular.woff2') format('woff2'),
		url('/font/SFUIDisplay-Regular.woff') format('woff'),
		url('/font/SFUIDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
		url('/font/SFUIDisplay-Medium.woff2') format('woff2'),
		url('/font/SFUIDisplay-Medium.woff') format('woff'),
		url('/font/SFUIDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}


@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
		url('/font/SFUIDisplay-Semibold.woff2') format('woff2'),
		url('/font/SFUIDisplay-Semibold.woff') format('woff'),
		url('/font/SFUIDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
		url('/font/SFUIDisplay-Bold.woff2') format('woff2'),
		url('/font/SFUIDisplay-Bold.woff') format('woff'),
		url('/font/SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
		url('/font/SFUIDisplay-Heavy.woff2') format('woff2'),
		url('/font/SFUIDisplay-Heavy.woff') format('woff'),
		url('/font/SFUIDisplay-Heavy.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
		url('/font/SFUIDisplay-Black.woff2') format('woff2'),
		url('/font/SFUIDisplay-Black.woff') format('woff'),
		url('/font/SFUIDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}
